body {
    margin: 0;
    height: 100%;
    background-color: #A5C4FE;
    font-family: 'Arima', cursive;  
        
}

#game_title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bolder;
    color: #020D5F;
    text-align: center;

}

#round_title {
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.directions {
    font-size: 25px;
    margin-left: 20%;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.main_img {
    height: 420px;
    width: 650px;
    border: 3px solid #020D5F;
    margin-left: 60px;
}


button {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid black;
    font-size: 18px;
    background-color: #95CCFF;
    display: block;
    margin-bottom: 87px;
    font-weight: bold;
    transition-duration: 0.1s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 5px #999;
}

.button-container {
    position: absolute;
    top: 41%;
    left: 40%;
}


#score_table {
    display: flex;
    text-align: center;
    font-size: 25px;
    width: max-content;
    position: absolute;
    right: 70px;
    top: 175px;   
    
}

.scoreL {
    border-right: 3px solid #020D5F;
    padding-bottom: 20px;
}

.scoreL p{
    border-bottom: 3px solid #020D5F;
    padding-left: 15px;
    padding-right: 25px;
    margin-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.scoreR {
    padding-bottom: 20px;
    
}

.scoreR p{
    border-bottom: 3px solid #020D5F;
    padding-right: 15px;
    padding-left: 25px;
    margin-top: 15px;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#player_score, #computer_score {
    font-weight: bold;
    font-size: 30px;    
}

.feedback-container {
    position: absolute;
    right: 100px;
    bottom: 200px;
    font-family: 'Passion One', cursive;
    font-size: 36px;
    font-weight: bolder;
    color: #033BBF;
}

#feedback_text {
    
}
/****Button to choose rock, paper, or scissors****/

#rock_btn {
    left: 300px;
}

#paper_btn {
    left: 555px;
}

#scissors_btn {
    right: 315px;
}

