body {
    margin: 0;
    height: 100%;
    background-color: #008958;
    font-family: 'Arima', cursive;
    
}

#game_title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    text-align: center;

}

#round_title {
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.directions {
    font-size: 25px;
    margin-left: 20%;
}

.main_img {
    height: 420px;
    width: 650px;
    border: 3px solid black;
    margin-left: 60px;
}


button {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #4CFEBE;
    display: block;
    margin-bottom: 87px;
}

.button-container {
    position: absolute;
    top: 41%;
    left: 40%;
}

/****Button to choose rock, paper, or scissors****/

#rock_btn {
    left: 300px;
}

#paper_btn {
    left: 555px;
}

#scissors_btn {
    right: 315px;
}

